a.link-card-w {
  margin: 0.25rem auto;
  background: #f6f6f6;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  text-align: center;
  min-width: 200px;
  max-width: 361px;
  color: #444;
  border-radius: 12px;
  text-decoration: none;
}

a.link-card-w:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

#article-container a.link-card-w img {
  margin: 0px;
  height: 200px;
  width: 200px;
  box-shadow:5px 5px 30px #00000070;
  transition: all 1s ease;
  border-radius: 12px;
}

#article-container a.link-card-w img:hover {
  transform: translateY(-10px);
}