.tags {
	color: white;
    background: #7f7fd5;
    border: 0px !important;
    box-shadow:1px 1px 3px #00000070;
	border: 2px solid rgba(255, 0, 0, 0);
    border-radius: 12px;
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 8px;
	font-size: 20px;
	transition: all 1s;
}
.tags:hover {
	color : white;
    box-shadow:1px 1px 15px #00000070;
	border: 2px solid rgba(255, 0, 0, 0);
    border-radius: 12px;
	font-size: 25px;
}
.card-tag-cloud {
	color: white;
    background: #7f7fd5;
    border: 0px !important;
    box-shadow:1px 1px 3px #00000070;
	border: 2px solid rgba(255, 0, 0, 0);
    border-radius: 12px;
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 8px;
	font-size: 10px;
	transition: all 1s;
	width: 10px;
	height: 30px;
}
.card-tag-cloud:hover {
	color : white;
    box-shadow:1px 1px 15px #00000070;
	border: 2px solid rgba(255, 0, 0, 0);
    border-radius: 12px;
	font-size: 25px;
	width: 20px;
	height: 15px;
}